.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 210px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}




.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.github1{
  fill:#fff;
  color:#151513;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}
.github2{transform-origin: 130px 106px;}


img.metamask{
  width:35%;
  max-width:340px;
  padding:20px;

}

.cover img{
  max-width:100%;
}



